h2 {
    font-size: 45px;
    text-align: center;
}

p {
    font-size: 18px;
}

.st-an {
    background-color: #69b83b;
    font-size: 25px;
    cursor: pointer;
}

.st-emotion-cache-ld6wor {
    border: 1px solid #6A994E;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

.stSelectbox .st-emotion-cache-aoyl2m .st-emotion-cache-1gv5c5a p {
    font-size: 18px;
}

.st-emotion-cache-99ud0u p a {
    color: #F2E8CF;
    font-weight: 600;
}

input[type=text], input[type=email] {
    width: 100%; 
    padding: 12px;
    border: 1px solid #000; 
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    max-height: 200px;
    background-color: #Fff;
}

textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #000; 
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    max-height: 200px;
    min-height: 100px;
    background-color: #Fff;
}
  
button[type=submit] {
    width: 50%;
    font-size: 22px;
    font-weight: 700;
    background-color: #6A994E;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
  
  /* When moving the mouse over the submit button, add a darker green color */
button[type=submit]:hover {
    background-color: #A7C957;
    font-weight: bold;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}